<!DOCTYPE html>
<html>
    <head>
        <title>Interstitial Cystitis Network 2012 Food List </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
        <div class="container">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/general">Interstitial Cystitis List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/register">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" 
                    href="/personal">Personal List</a>
                </li>
                    <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button>
                    <div id="id01" class="modal">
                        <form class="modal-content animate" action="/login" method="POST">
                            <div class="imgcontainer">
                                <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
                            </div>
        
                            <div class="container">
                                <label for="uname"><b>Username</b></label>
                                    <input type="text" placeholder="Enter Username" name="uname" required>
                                <label for="psw"><b>Password</b></label>
                                    <input type="password" placeholder="Enter Password" name="psw" required>
                                <button type="submit">Login</button>
                                <label>
                                    <input type="checkbox" checked="checked" name="remember"> Remember me
                                </label>
                            </div>
                            <div class="container" style="background-color:white">
                                <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
                                <span class="psw">Forgot <a href="/forgot">password?</a></span>
                            </div>
                        </form>
                    </div>
                    <script>
                        // Get the modal
                        var modal = document.getElementById('id01');
        
                        // When the user clicks anywhere outside of the modal, close it
                        window.onclick = function(event) {
                            if (event.target == modal) {
                                modal.style.display = "none";
                            }
                        }
                    </script>
                </ul>
            
            <div class="container" id = "jumb">
                <img id = "food" src = "https://www.thecandidadiet.com/wp-content/uploads/2018/08/candida-foods-to-eat.jpg">
                <h3 class = "jumb-context">Password Reset</h3>
                <h4 class = "jumb-context">
                Please enter your Username to reset your password
                </h4>
            </div>
            <br>
            <div class="container">
                <div class="col-md-8">      
                   <!-- need link  -->
                    <form action="/forgot" method="POST"> 
                        <div class="form-row">
                            <div class="form-group col-md-8">
                                <label for="username">Username</label>
                                <input type="text" class="form-control" name="username" placeholder="Username" required>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-dark">Submit</button>
                    </form>
                </div>
                <br>
                <br>
                <br>
            </div>
        </div>
    </body>
</html>